@import "src/style/base/variables";
$font-color: rgba(255, 255, 255, 0.6);
$font-color-hover: rgba(255, 255, 255, 1);
$default-user: "~assets/robot.png";

.header-bar {
    width: 100%;
    height: 50px;
    background: $color-main;
    color: #fff;
}

.el-col {
    padding: 0 20px;
}

.user-info {
    font-size: 12px;

    * {
        line-height: 24px;
        vertical-align: middle;
    }

    .user-photo {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        border-radius: 50%;
        box-shadow: 1px solid rgba(0, 0, 0, 0.1);
        background: url($default-user) center center no-repeat;
        background-size: auto 100%;
    }

    .handle-btns {
        position: relative;

        .el-button {
            padding: 2px 5px;
        }

        .text-normal {
            font-size: 12px;
            color: $font-color;

            &:hover {
                color: $font-color-hover;
            }
        }

        &:before {
            display: inline-block;
            content: "";
            width: 1px;
            height: 18px;
            margin: 0 12px 0 15px;
            background: $font-color;
            vertical-align: middle;
        }
    }
}
