// 引入变量，以提供引用
@import "src/style/base/variables";

.login-view {
    position: relative;
    height: 100vh;
    min-width: 1290px;
    min-height: 600px;
    background: $background-gray url(~assets/bgimg.png) 0 50% no-repeat;
    background-size: cover;

    header {
        height: 50px;
        padding-top: 8px;
        padding-left: 30px;
        background: $color-blue;
    }

    .login-body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100vw - 200px);
        height: calc(100vh - 100px);
        min-width: 1290px;
        max-width: 1286px;
        max-height: 866px;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        box-shadow: 0 2px 13px 0 rgba(0, 0, 0, .1);
        overflow: hidden;
        background: $color-white;
        text-align: center;

        .el-col {
            position: relative;
            height: calc(100vh - 100px);
        }

        .bgimg {
            height: 100%;
            background: $background-gray url(~assets/logo.png) 50% 50% no-repeat;
            background-size: cover;
        }

        .title {
            margin-top: 51px;
            margin-left: 58px;

            h2 {
                line-height: 30px;
                margin: 0;
                font-size: 30px;
                color: #4498F2;
                text-align: left;
            }
        }

        .login {
            position: absolute;
            // left: 50%;
            top: 40%;
            transform: translate(0, -50%);
            width: 70%;
            height: 382px;
            margin: 0 87px;
            margin-top: 10vh;
            border: 1px solid #CCE2FF;
            border-radius: 4px;

            h1 {
                margin-bottom: 20px;
                color: #4498F2;
            }

            input {
                width: 80%;
                height: 40px;
                margin-bottom: 20px;
                line-height: 40px;
                border: none;
                border-bottom: 1px solid $border-main;
                border-radius: 4px;
                font-size: $font-size-small;
            }

            p {
                margin-left: 10%;
                text-align: left;
                font-size: $font-size-medium;
            }

            button {
                width: 80%;
                height: 40px;
                margin-top: 30px;
                border: none;
                border-radius: 5px;
                background: $color-blue;
                color: $color-white;
                font-size: $font-size-large;
                cursor: pointer;
            }
        }
    }
}
